body {
  background-color: #e4e4f7;
}

/*hide the scroll bar in chrome. for firefox, its kind of more code to write*/
::-webkit-scrollbar {
  display: none;
}

.row-1 {
  /*height: 100vh;*/
  background-color: #22398e;
  background-image: linear-gradient(
      0deg,
      rgba(31, 53, 138, 1),
      rgba(0, 0, 0, 0) 50%,
      rgba(31, 53, 138, 1)
    ),
    url('../../images/handshake.png');
}

.row-1-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row-1-info:hover {
  cursor: pointer;
}

.row-1-info > .info-detail {
  font-size: 1.3rem;
  color: #f4c519 !important;
}

.row-1-info > .info-header {
  font-size: 1.3rem;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  body {
    max-width: 100vw !important;
  }

  nav {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .facebook-feed,
  .twitter-feed {
    width: 80vw !important;
  }
  .facebook-feed > iframe {
    width: 80vw;
  }

  .why-we-do-card {
    width: 80vw !important;
  }

  .row-3 {
    margin-bottom: 220px;
  }
  .row-3 > .row {
    display: block;
  }
  .stat-data {
    border: none !important;
  }

  .horizontal-r {
    display: none;
  }
  .land-legal-business-lawyer-wrapper {
    height: 140vh !important;
  }
}

nav .nav-link:hover {
  border-bottom: 2px solid white !important;
  padding-bottom: 0;
}

nav a:hover:after {
  content: '';
  border-bottom: 1px solid #17174a;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
}

.wrapper {
  height: 80%;
  padding-left: 15px;
  padding-right: 15px;
}

.brand-yellow {
  color: #f8c800 !important;
  font-size: 2rem;
}

/* row 1 icons */

.bot-icon-row-1 {
  width: 10%;
}

.bot-icon-row-1:hover {
  animation: row-1-icon-hover-effect 1.5s 0.1s forwards;
}

.social-icon {
  width: 1.3em;
  -webkit-filter: invert(3) sepia() saturate(400) hue-rotate(3.142rad);
}

.social-icon:hover {
  -webkit-filter: invert(100%);
}

.social-icons a:hover {
  text-decoration: none;
}

@keyframes row-1-icon-hover-effect {
  0% {
    width: 10%;
  }
  50% {
    width: 20%;
  }
  100% {
    width: 15%;
  }
}

.recommend {
  background-color: #f7c300;
  border: none;
  color: blue;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  border-radius: 100px;
}

.recommend:hover {
  color: blue;
}

.mission-statement {
  font-size: 26px;
  color: white;
}

/* CSS FOR THE SECOND ROW OF THE HOME PAGE*/

.row-2 {
  /*height: 140vh;*/
}

.land-legal-business-lawyer-wrapper {
  border-radius: 100% 0% 97% 3% / 0% 100% 0% 100%;
  background-image: linear-gradient(
      45deg,
      rgba(31, 53, 138, 1),
      rgba(0, 0, 0, 0) 50%,
      rgba(31, 53, 138, 1)
    ),
    url('../../images/textured.png');
  height: 80vh;
}

.row-2-right {
  height: 50%;
  border-left: 1px solid #888888;
  background-blend-mode: screen;
}

.team-pic {
  height: 70vh;
}

.carousel-item::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top, rgba(0, 0, 50, 0.6), rgba(0, 0, 0, 0));
}

.register {
  border-radius: 99% 1% 97% 3% / 5% 77% 23% 95%;
  width: 100%;
  min-height: 40%;
  background-color: rgb(246, 250, 255);
}

.bot-icon {
  max-width: 100%;
}

.bot-icon:hover {
  cursor: zoom-in;
  animation: icon-hover-effect 1.5s 0.1s forwards;
}

.inverted-color {
  /*-webkit-filter: invert(100%) sepia() saturate(1000%) hue-rotate(40deg);*/
  -webkit-filter: invert(100%);
}

.icon-container > a:hover {
  text-decoration: none;
  color: #1f368b;
}

@keyframes icon-hover-effect {
  0% {
    width: 100%;
  }
  50% {
    width: 80%;
  }
  100% {
    width: 100%;
  }
}

.bot-next-icon {
  max-width: 100%;
}

.icon-container {
  width: 10%;
  font-weight: lighter;
}

.dot {
  height: 35px;
  width: 35px;
  font-weight: bolder;
  color: #000;
  background-color: #f8c800;
  border: 2px solid #000;
  border-radius: 50%;
  display: inline-block;
}

.register > .header {
  font-size: 2rem;
  font-weight: lighter;
}

.horizontal-r {
  border: 0.5px solid rgb(32, 32, 104);
}

/* CSS FOR THE THIRD ROW OF THE HOME PAGE*/

.row-3 {
  height: 50vh;
}
.stat-data:last-child {
  border-right: 0px !important;
}

.data-area {
  height: 100%;
}

.stat-data {
  border-right: 1px dashed black;
  min-height: 100%;
}

/* CSS FOR THE FOURTH ROW OF THE HOME PAGE*/

.row-4 {
}

.facebook-feed,
.why-we-do-card,
.twitter-feed {
  -webkit-box-shadow: -4px 5px 115px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 5px 115px -7px rgba(0, 0, 0, 0.75);
  box-shadow: -4px 5px 115px -7px rgba(0, 0, 0, 0.75);
}

.facebook-feed {
  background-image: url('../../images/loading.gif');
  background-repeat: no-repeat;
  background-size: 90px;
  background-position: center;
  width: 500px;
  height: 95%;
}

.twitter-feed {
  background-image: url('../../images/loading.gif');
  background-repeat: no-repeat;
  background-size: 90px;
  background-position: center;
  width: 100%;
  max-height: 200px;
  overflow-y: scroll;
  min-height: 315px;
}

.why-we-do-card {
  padding: 1.5em;
  align-items: center;
  text-align: justify;
  border-radius: 0px;
  overflow: hidden;
}

.why-we-do-card {
  border: 0px;
  position: relative;
  width: 100%;
  color: #fff;
  background: #0e2570;
}

.why-we-do-card:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 50px 50px 0;
  border-style: solid;
  border-color: #0e2570 #c7c7d9;
  display: block;
  width: 0;
  box-shadow: -4px 5px 115px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3), -5px 5px 5px rgba(0, 0, 0, 0.2);
}

.why-we-do-card .blockquote {
  font-weight: lighter;
}
.why-we-do-card > p {
  font-weight: bold;
}

/* FOOTER STYLING */

footer {
  min-height: 20vh;
  background-color: #11266c;
}

.footer-content > a {
  color: white;
}

.supporters {
  width: 5em;
  height: 3em;
}

.credit-icon-author {
  font-size: 8px;
  position: absolute;
  right: 10px;
}
